site_name: COD3S Documentation
site_description: COmplex Dynamic Stochastic System Simulation library
site_url: https://edgemind-sas.github.io/cod3s/
repo_url: https://github.com/edgemind-sas/cod3s
repo_name: edgemind-sas/cod3s

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_root_toc_entry: false
            merge_init_into_class: true
            separate_signature: true

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
    - Concepts: getting-started/concepts.md
  - User Guide:
    - Components: user-guide/components.md
    - Systems: user-guide/systems.md
    - Simulation: user-guide/simulation.md
    - Indicators: user-guide/indicators.md
    - PyCATSHOO Integration: user-guide/pycatshoo-integration.md
  - Tutorials:
    - Basic Component: tutorials/basic-component.md
    - Failure Modes: tutorials/failure-modes.md
    - Industrial System: tutorials/industrial-system.md
  - API Reference:
    - Core: api-reference/core.md
    - Knowledge Base: api-reference/kb.md
    - System: api-reference/system.md
    - PyCATSHOO:
      - Component: api-reference/pycatshoo/component.md
      - Automaton: api-reference/pycatshoo/automaton.md
      - Indicator: api-reference/pycatshoo/indicator.md
      - Study: api-reference/pycatshoo/study.md
  - Examples:
    - Simple Examples: examples/simple-examples.md
    - Case Studies: examples/case-studies.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/edgemind-sas/cod3s

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
