[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cod3s = {file = ".", editable = true}

[dev-packages]
autopep8 = "*"
black = "*"
flake8 = "*"
ipdb = "*"
jedi = "*"
packaging = "*"
pycodestyle = "*"
pydantic = "*"
pyflakes = "*"
pytest = "*"
pytest-pythonpath = "*"
pyyaml = "*"
rope = "*"
tqdm = "*"
yapf = "*"
gitpython = "*"
jinja2 = "*"
ruff-lsp = "*"
python-lsp-server = "*"
python-language-server = "*"
pyright = "*"
mypy = "*"
kaleido = "*"
ptpdb = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
